@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Montserrat', sans-serif;

    --primary-color: #737373;
    --second-color: #7CC529;
    --background-color: #E4E2DD;

    .dark-mode:root {
        --background-color: #737373;
        --second-color: #7CC529;
        --primary-color: #E4E2DD; 
    }
}

html, body {
    min-height: 100dvh;
}

body {
    font-size: 1.6rem;
    background: var(--background-color);
    color: var(--primary-color);
    padding: 0rem 7rem;
}

#header {
    height: 10rem;
    width: 100%;
    margin-bottom: 5rem;
    padding: 2.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color);
    position: sticky;
    top: 0;
}

#logo {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

#LogoGreen{
    color: var(--second-color);
}

#logo img {
    height: 5rem;
    margin-right: 0.3rem;
}

#btn-mobile {
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

#menu a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: var(--primary-color);
    font-weight: 700;
    border-bottom: 0.2rem solid transparent;
}

#menu a:hover {
    color: var(--second-color);
    font-weight: 700;
    border-bottom: 0.2rem solid;
}

.main-login{
    height: 80dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.left-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.login-image {
    width: 20vw;
    margin-top: 2rem;
}

.right-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.card-login {
    width: 40dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
      
}

.card-login h1 {
    margin: 0rem 0rem 2rem 0rem;
}

.textfiled {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0rem 0rem 1.5rem 0rem;
}

.textfiled input {
    width: 100%;
    background: var(--background-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: 1px solid;
}

.textfiled a {
    color: var(--second-color);
    
    margin-top: 0.5rem;
}

.btn-login {
    width: 100%;
    padding: 1.5rem 0px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 2rem;
    color: var(--background-color);
    background: var(--second-color);
    cursor: pointer;
}


footer {
    height: 10rem;
    width: 100%;
    margin-top: 5rem;
}

#footer_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#footer_content img {
    width: 5rem;
}

.footer_list li {
    display: inline;  
}
  
.footer_list li a {
    padding: 2rem 1rem 0.5rem 1rem;
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    border-bottom: 0.3rem solid transparent;
}
  
.footer_list li a:hover {
    color: var(--second-color);
    border-bottom: 0.2rem solid
}

#footer_copyright {
    margin-top: 1rem;
    text-align: center;
    font-weight: 600;
    border-top: 0.2rem solid;
    padding: 1rem;
}

@media (max-width: 850px) {
    #menu {
        display: block;
        background: var(--background-color);
        position: absolute;
        width: 50%;
        top: 10rem;
        right: 0;
        height: 0;
        transition: .7s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 10rem);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 2rem 2.5rem;
        border-bottom: 0.2rem solid;
    }
    
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 4rem;
        border: none;
        background: none;
        cursor: pointer;
        color: var(--second-color);
    }

    .left-login{
        display: none;
    }

    .card-login{
        width: 75dvw;
    }
}

